{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Send Message to {{ receiver.full_name }}</h5>
                </div>
                <div class="card-body">
                    <form method="post" id="messageForm">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                            <a href="{% url 'messages' %}" class="btn btn-outline-secondary">Back to Messages</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
